@model IEnumerable<CigarStoreProject.Models.OrderModel>

@{
    ViewBag.Title = "Orders List";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h2>Orders List</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>
                        Order Number
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.State)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Zip)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.State)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TrackingNumber)
                    </th>
                    <th>
                        Options
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        ORD000-@Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Zip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrackingNumber)
                    </td>
                    <td>
                        @Html.ActionLink("Print", "ShowOrderAdmin", new { orderId = item.Id }) |
                        @Html.ActionLink("Ship", "MarkAsShipped", new { orderId = item.Id })
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
</div>


